{{ attach_library('contribution_records/git_commands') }}

<details>
  <summary>{{ 'Git command'|t }}</summary>
  <div class="git-commands">
    <p class="description">
      {{ 'You can copy and paste the below command in your terminal.'|t }}
      {{ 'The message follows <a href="@link">conventional commits</a> format.'|t({
        '@link': 'https://www.conventionalcommits.org/en/v1.0.0'
      }) }}
    </p>
    <div>
      <input type="text" id="task-type" value="task" placeholder="task, feat, fix..." />
      <code id="git-command"></code>
    </div>

    <div class="description">
      {{ 'Learn more about <a href="@link">granting credit</a>.'|t({
        '@link': 'https://www.drupal.org/docs/develop/issues/issue-procedures-and-etiquette/granting-credit-to-issue-contributors'
      }) }}
    </div>
  </div>
</details>
