{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    'clearfix',
    node.field_draft.value ? 'is-draft' : 'is-public'
  ]
%}
<article id="node-{{ node.id }}"{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('content') }}>
    <div class="draft">{{ content.field_draft }}</div>
    <h4>{{ 'Contribution record'|t }}</h4>
    {% if content.not_valid %}
      <div class="error">
        {{ 'The link is currently not reachable and cannot be changed. The data shown below might be obsolete.' }}
      </div>
      <hr>
    {% endif %}

    <div class="source">{{ content.field_source_link }}</div>
    <div class="project-link"><strong>{{ 'Project:'|t }}</strong> {{ content.project_link|raw }}</div>
    {% if content.related_links %}
      <div class="related-links">
        <h4>{{ 'Related links'|t }}</h4>
        {% for link in content.related_links %}
          <a class="related-link" target="_blank" href="{{ link }}">{{ link }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if content.is_maintainer %}
      {{ content.quick_credits_form }}
    {% else %}
      <div class="contributors">{{ content.field_contributors }}</div>
    {% endif %}
  </div>

  {% if not content.not_valid %}
    <details id="attribute-contribution" {% if content.open_form %}open{% endif %}>
      <summary>{{ 'Attribute your contribution'|t }}</summary>
      <div>
        <p class="description">
          {{ 'Learn more about credit attribution' }} <a href="https://www.drupal.org/docs/develop/issues/fields-and-other-parts-of-an-issue/getting-credit-for-work-on-issues">{{ 'here'|t }}</a>.
          {{ 'Link your user to different organization(s) by editing your user profile.' }}
        </p>
        {{ content.edit_record }}
      </div>
    </details>
  {% endif %}

  {{ content.links }}
  {% if content.is_maintainer %}
    {% include '@contribution_records/git_commands.html.twig' %}
  {% endif %}
  {% if content.source_type == 'issue-gitlab' %}
    <hr>
    <div class="">
      <p>
        {{ 'If you want to see or manage the forks and/or merge requests for this issue you can visit the <b><a href="@link">forks management</a></b> page.'|t({
          '@link': path('drupalorg.issue_fork_management', {
            'source_link': node.field_source_link.value[0].uri
          })
        }) }}
      </p>
    </div>
  {% endif %}
</article>
